.container {
    color: white;
    padding: 5px 5px 20px 20px;
}

.topSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.firstname {
    margin-left: 10px;
}

.username, .date {
    color: rgba(197, 192, 192, 0.593);
    margin-left: 5px;
}

